{% block menulateral %}
    <!--
            <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="material-icons">dashboard</i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="index.html">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>eCommerce</span>
                                </a>
                            </li>
                            <li>
                                <a href="dashboard-analytics.html">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Analytics</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
-->

    <ul id="menuLat" class="col s2  white">
        <li class="choix_Menu"><a href="#">Prospect</a></li>
        <li class="choix_Menu"><a href="#">Vendeur</a></li>
    </ul>
{% endblock %}